@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --light-theme-color: rgb(235, 225, 210);
    --dark-theme-color: rgb(20, 30, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body.light {
    background-color: var(--light-theme-color);
}
body.light > :not(.unchanged) {
    color: #000;
}

body.dark {
    background-color: var(--dark-theme-color);
}
body.dark > :not(.unchanged) {
    color: #fff;
}

div {
    image-rendering: pixelated;
}

img {
    image-rendering: pixelated;
}

p {
    font-weight: 500;
}

a {
    text-decoration: none;
}

.box {
    border-color: rgb(85, 85, 85);
}

.scroll-effect {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity, transform ease .5s;
}

.react-router-link {
    text-decoration: none;
}

.highlight {
    padding: 0 5px;
    box-decoration-break: clone;
    background: linear-gradient(to top, rgba(180, 180, 180, .5) 50%, rgba(0, 0, 0, 0) 0);
}